html {
    background-color: #f3f3f3;
}

.form-basic {
    max-width: 840px;
    margin: 0 auto;
    padding: 55px;
    box-sizing: border-box;
    min-height: 80vh;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    font: bold 14px sans-serif;
    text-align: left;
}

.form-basic .form-row {
    text-align: left;
    margin-bottom: 22px;
}

.form-basic .form-title-row {
    text-align: center;
    margin-bottom: 20px;
}

.form-basic h1 {
    box-sizing: border-box;
    color: #4c565e;
    padding: 0 10px 15px;
    border-bottom-color: #6caee0;
    margin: 0;
    font: 400 20px/1.3 'Abril Fatface', Georgia, serif;
}

.form-basic .form-row>label span {
    display: inline-block;
    box-sizing: border-box;
    color: #5F5F5F;
    width: 180px;
    text-align: right;
    vertical-align: top;
    padding: 12px 25px;
}

.form-basic input {
    box-sizing: border-box;
    min-width: 200px;
    height: 40px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    border: 1px solid #dbdbdb;
    margin-bottom: 10px;
}

.form-basic input[type=radio],
.form-basic input[type=checkbox] {
    box-shadow: none;
    width: auto !important;
}

.form-basic input[type=checkbox] {}

.form-basic select {
    font-weight: lighter;
    background-color: #ffffff;
    color: #5f5f5f;
    box-sizing: border-box;
    min-width: 200px;
    height: 40px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    border: 1px solid #dbdbdb;
    margin-bottom: 15px;
}

.form-basic textarea {
    color: #5f5f5f;
    box-sizing: border-box;
    width: 240px;
    height: 200px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    font: normal 13px sans-serif;
    padding: 12px;
    border: 1px solid #dbdbdb;
    resize: vertical;
}

.repeater-button {
    display: block;
    border-radius: 2px;
    background-color: #6caee0;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 0px;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: medium none;
    cursor: pointer;
    width: 300px;
}

.form-basic .form-radio-buttons {
    display: inline-block;
    vertical-align: top;
}

.form-basic .form-radio-buttons>div {
    margin-top: 10px;
}

.form-basic .form-radio-buttons label span {
    margin-left: 8px;
    color: #5f5f5f;
    font-weight: normal;
}

.form-basic .form-radio-buttons input {
    width: auto;
}

.form-basic button {
    border-radius: 2px;
    color: #ffffff;
    background: #2395ec;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 22px;
    border: 0;
}

@media (max-width: 600px) {
    .form-basic {
        padding: 30px;
        max-width: 480px;
    }
    .form-basic .form-row {
        max-width: 300px;
        margin: 25px auto;
        text-align: left;
    }
    .form-basic .form-title-row {}
    .form-basic .form-row>label span {
        display: block;
        text-align: left;
        padding: 0 0 15px;
    }
    .form-basic select {}
    .form-basic input[type=checkbox] {
        margin-top: 0;
    }
    .form-basic .form-radio-buttons>div {
        margin: 0 0 10px;
    }
    .form-basic button {
        margin: 0;
    }
}
