[submodule "vendor/ramsey/uuid"]
 path = vendor/ramsey/uuid
 url = https://github.com/ramsey/uuid.git
[submodule "vendor/laravelium/sitemap"]
  path = vendor/laravelium/sitemap
  url = https://github.com/Laravelium/laravel-sitemap.git